.login-form {
  margin-top: 60px !important;
  height: 100%;
  .card {
    max-width: 500px;
    width: 500px;

    .form-errors {
      margin-bottom: 10px;
      padding: 15px;

      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    
    /* label focus color */
    .input-field input:focus + label {
      color: #689f38 !important;
    }

    /* label underline focus color */
    .row .input-field input:focus {
      border-bottom: 1px solid #689f38 !important;
      box-shadow: 0 1px 0 0 #689f38 !important
    }

    /* icon prefix focus color */
    .input-field .prefix.active {
      color: #689f38;
    }

    .card-title {
      font-size: 40px;
      line-height: 50px !important;
    }

    .card-action {
      a {
        text-transform: none !important;
      }

      .devise-links {
        text-align: right;
      }
    }

    .divider {
      margin-bottom: 10px;
    }
  }

  abbr {
    border-bottom: 0 !important;
    color: #f00;
  }
}
